.text-center {
  text-align: center !important;
}

.u-textLeft {
  text-align: right !important;
}

.u-textLeft {
  text-align: left !important;
}

.u-fontTiny {
  font-size: 8px !important;
}

.u-fontVerySmall {
  font-size: 10px !important;
}

.u-fontSmall {
  font-size: 11px !important;
}

.u-font-semi-small {
  font-size: 12px !important;
}

.u-fontNormal {
  font-size: 13px !important;
}

.u-fontMedium {
  font-size: 14px !important;
}

.u-fontSemiLarge {
  font-size: 15px !important;
}

.u-fontLarge {
  font-size: 16px !important;
}

.u-fontVeryLarge {
  font-size: 18px !important;
}

.u-fontExteraLarge {
  font-size: 20px !important;
}
.u-font-28-32 {
  font-size: 28px !important;
  @media (min-width: 992px) {
    font-size: 32px !important;
  }
}
.u-font-15-21 {
  font-size: 15px !important;
  @media (min-width: 992px) {
    font-size: 21px !important;
  }
}
.u-font-16-20 {
  font-size: 16px !important;
  @media (min-width: 992px) {
    font-size: 20px !important;
  }
}
.u-font-42-24 {
  font-size: 24px !important;
  @media (min-width: 992px) {
    font-size: 42px !important;
  }
}

.u-font-35-65 {
  font-size: 35px !important;
  @media (min-width: 992px) {
    font-size: 65px !important;
  }
}

.u-font-30-50 {
  font-size: 30px !important;
  @media (min-width: 992px) {
    font-size: 50px !important;
  }
}

.u-font-30-45 {
  font-size: 30px !important;
  @media (min-width: 992px) {
    font-size: 45px !important;
  }
}

.u-font-20-24 {
  font-size: 20px !important;
  @media (min-width: 992px) {
    font-size: 24px !important;
  }
}
.u-font-24-28 {
  font-size: 24px !important;
  @media (min-width: 992px) {
    font-size: 28px !important;
  }
}

.u-font-largest {
  font-size: 24px !important;
}

.u-fontExtreme {
  font-size: 65px !important;
}

.u-font-semi-small-r {
  font-size: 12px !important;

  @media (min-width: 992px) {
    font-size: 14px !important;
  }
}

.u-font-small-r {
  font-size: 10px !important;

  @media (min-width: 768px) {
    font-size: 12px !important;
  }
}

.u-fontNormal-r {
  font-size: 13px !important;

  @include largeDesktop() {
    font-size: 14px !important;
  }
}

.u-fontSmall-r {
  font-size: 11px !important;

  @include largeDesktop() {
    font-size: 13px !important;
  }
}

.u-fontLarge-r {
  font-size: 14px !important;

  @include onDesktop() {
    font-size: 16px !important;
  }
}

.u-textJustify {
  text-align: justify !important;
}

.u-fontWeightNormal {
  font-weight: normal !important;
}

.u-fontWeightMedium {
  font-weight: 500 !important;
}
.u-fontWeightHeavy {
  font-weight: 600 !important;
}

.u-fontWeightBold {
  font-weight: bold !important;
}
.u-font-weight-extra-bold {
  font-weight: 800 !important;
}

.u-fontWeightLight {
  font-weight: lighter !important;
}

.u-ltr {
  direction: ltr !important;
}

.u-rtl {
  direction: rtl !important;
}

.u-textNormal {
  font-style: normal !important;
}

.u-text-ellipse {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.u-text-line-through {
  text-decoration: line-through !important;
}

.u-text-underline {
  text-decoration: underline !important;
}

.text-md-right {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}
